<!-- portfolio section starts  -->

<section class="portfolio" id="portfolio">

    <h1 class="heading"> my <span>portfolio</span> </h1>
    
    <div class="box-container">
    
        <div class="box">
            <img src="assets\photodieyna\th.jpg" alt="">
        </div>
    
        <div class="box">
            <img src="assets\photodieyna\th (2).jpg" alt="">
        </div>
    
        <div class="box">
            <img src="assets\photodieyna\OIP (2).jpg"  alt="">
        </div>
    
        <div class="box">
            <img src= "assets\photodieyna\OIP.jpg"  alt="">
        </div>
    
        <div class="box">
            <img src= "assets\photodieyna\th (1).jpg "alt="">
        </div>
    
        <div class="box">
            <img src="assets\photodieyna\OIP (3).jpg" alt="">
        </div>
    
    </div>
    
    </section>
    
    <!-- portfolio section ends -->
    
    