<!-- contact section starts  -->






<section class="contact" id="contact">

    <h1 class="heading"> <span>contact</span> me </h1>
    
    <div class="row">
    
        <div class="content">
    
            <h3 class="title">contact info</h3>
    
            <div class="info">
                <h3> <i class="fas fa-envelope"></i> dieynabadioysdiallo@gmail.com </h3>
                <h3> <i class="fas fa-phone"></i> +221-77-485-23-08</h3>
                <h3> <i class="fas fa-phone"></i> +221-76-901-94-21</h3>
                <h3> <i class="fas fa-map-marker-alt"></i> Sicap Liberté 3,Dakar,Senegal </h3>
            </div> 
    
        </div>
    
        <form action="">
     
            <input type="text" style="background-color: rgb(231, 226, 226);" placeholder="What's your name ?" class="box">
            <input type="email" style="background-color: rgb(231, 226, 226);" placeholder="Email address" class="box">
            <input type="text" style="background-color: rgb(231, 226, 226);" placeholder="Object" class="box">
            <textarea name="" id="" cols="30" rows="10" class="box message" style="background-color: rgb(231, 226, 226);" placeholder="Write your message here"></textarea>
            <button type="submit" class="btn"> send <i class="fas fa-paper-plane"></i> </button>
    
        </form>
    
    </div>
    
    </section>
    
    <!-- contact section ends -->
    
<!-- scroll top button 
<a href="#home" class="top">
    <img src="assets/photodieyna/profil.jpeg" alt="">
</a> -->