
<!-- education section starts  -->

<section class="education" id="education">

    <h1 class="heading"> my <span>education</span> </h1>
    
    <div class="box-container">
    
        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2016</span>
            <h3>Full Stack development</h3>
           
            <p>A Front-End Developer is someone who creates websites and web applications.   The difference between Front-End and Back-End is that Front-End refers to how a web page looks, while back-end refers to how it works.
                
                </p></div>
    
        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2017</span>
            <h3>Al Learning </h3>
  <p>M.S. in Computer Science (AI)
    Stanford Unversity Certified Reack Practitioner
        PMI, 2017
        AWS Solutions Architect</p>  <p>Certified Aws Practitioner
            PMI, 2019
            AWS Solutions Architect</p>  </div>
    
        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2018</span>
            <h3> Client-Side</h3>
            <P>MySQL</P> 
               <p> CSS AWS &nbsp; React</p> 
               <p>Bootstrap &nbsp; TypeScript &nbsp;Vue</p>
               <p> Redux &nbsp; Angular &nbsp; JS</p>       
           
        </div>
    
        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2019</span>
            <h3>Server-side</h3>
            <P>MySQL</P> 
               <p> Python AWS &nbsp; TensorFlow</p> 
               <p>MongoDB &nbsp; NumPy &nbsp;Redis</p>
               <p> NodeJS &nbsp; Eli5 &nbsp; Spark</p>   
            </div>
    
        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2020</span>
            <h3>Development & Operations</h3>
           <P>  NUnit PyUnit TestCafe Mocha Jest Scrum Agile GIT Azure DevOps</P>
           <p>C++ Development Certified Professional
            Oracle, 2020</p>
        </div>
    
        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2022</span>
            <h3>Certification</h3>
            <p>Certified Agile Practitioner
                PMI, 2019
                AWS Solutions Architect</p>
                <p>- Associate Level
                    Amazon Web Services, 2018
                    Java Development Certified Professional
                    Oracle, 2020 </p> 
        </div>
    
    </div>
    
    </section>
    
    <!-- education section ends -->
    
    