

<!-- home section starts  -->
<div>
    <style>
        footer {
          padding: 25px;
         
          
          color: black;
         
        }
        
        </style>
        
        <footer>
        
        <button onclick="myFunction()" class="btn"><i class="fas fa-sun"></i>/<i class="fas fa-moon"></i></button>
       
       
        
        </footer>
    <section class="home" id="home">
    
    
        <h3>HI THERE !</h3>
        <h1>I'm <span> dieynaba diallo</span></h1>
        <p> In order to become a full-stack developer i put in some years of hard-work and
             get some experience in the industry.
        </p>
        <a href="#about"><button class="btn">about me <i class="fas fa-user"></i></button></a>
    
    </section> 
    
</div>

<!-- home section ends -->
